@keyframes verify {
    from {
        color: green;
    }
    to {
        color: black;
    }
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0 auto;
}

#robo {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#border {
    border-radius: 100px;
    border: 4px solid rgba(0, 0, 255, 0.4);
    width: 80%;
    height: 35em;
}

#screen {
    border-radius: 80px;
    border: 2px solid rgba(0, 0, 255, 0.4);
    width: 90%;
    height: 90%;
    margin: 1.5em auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#face {
    border-radius: 80px;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

#statusBar {
    border-radius: 50px;
    padding: 1em;
    margin: 2em auto 0 auto;
    display: flex;
    width: 90%;
    background-color: rgba(196, 195, 208, 0.6);
}

#interact {
    text-align: center;
    width: 80%;
}

#stats {
    padding-left: 1.5em;
    width: 20%;
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, rgba(196, 195, 208, 0) 0%, rgba(196, 195, 208, 1) 50%, rgba(196, 195, 208, 0) 100%) 5;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 2rem;
    animation: verify 2s;
}

h2 {
    margin-top: 0em;
    font-size: 2rem;
    font-weight: 400;
}

input {
    border-radius: 50px;
    font-family: inherit;
    font-weight: 100;
    border: 1px solid #DCDCDC;
    font-size: 4em;
    padding: 1rem;
    margin-bottom: 0.5em;
    width: 60%;
    height: 4%;
}

input:focus {
    border: 1px solid #C0C0C0;
    outline: none;
}

input::placeholder {
    text-align: center;
    color: #DCDCDC;
}
